<!DOCTYPE html>
<html>
<head>
    <title>Doctor Registration</title></title>
</head>
<body>
    <h2>Register</h2>

    {% with messages = get_flashed_messages() %}
      {% if message %}
        {% for message in message %}
          <p style="color:red;">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST">
        <label>Username:</label>
        <input type="text" name="username">

        <label>Email:</label>
        <input type="email" name="email">

        <label>Password:</label>
        <input type="password" name="password">

        <button type="submit">Register</button>
    </form>

</body>
</html>
